* {
	margin: 0px;
	padding: 0px;
	transition: all 0.3s ease;
	font-family: "Titillium Web";
}

html {
	font-size: 15px;
	overflow-x: hidden;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul, li {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}

h1 {
	color: #f7f3ea;
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 48.82px;
	text-align: center;
}

h2 {
	color: #3c4761;
	font-size: 40px;
	font-weight: 700;
	line-height: 29.91px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

h2:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 87px;
	height: 4px;
	background-color: #000000;
	opacity: 0.15;
}

.intro {
	margin-top: 23px;
	color: #3c4761;
	font-size: 1.267rem;
	font-weight: 400;
	line-height: 26.84px;
	letter-spacing: 0.36px;
	text-align: center;
}

#first {
	padding-bottom: 145px;
	height: auto;
	background-color: #87509c
}

#header {
	padding-top: 57px;
}

.header__item {
	float: left;
	padding: 9px 17px;
}

.header__item:hover {
	background-color: #643a79;
	border-radius: 5px;
}

.header__menu-link {
	color: #ffffff;
	font-size: 1.067rem;
	font-weight: 400;
	text-transform: uppercase;
}

.first__h1 {
	margin-top: 145px;
}

.button {
	display: block;
	padding: 15px 0px;
	width: 100%;
	background-color: #eb7d4b;
	box-shadow: 0 -3px #c86a40 inset;
	border-radius: 5px;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.first__button:active {
	box-shadow: 0px 0px #c86a40;
	background-color: #c86a40;
}

.first__button {
	margin: auto;
	margin-top: 55px;
}

#services {
	padding: 118px 0px 128px 0px; 
	width: 100%;
	height: auto;
	background-color: #17c2a4;
}

.services__h2 {
	color: #ffffff;
}

.services__intro {
	color: #ffffff;
}

.services__card {
	margin: auto;
	margin-top: 80px;
	width: 80%;
}

.services__img {
	margin: auto;
	width: 200px;
	height: 131px;
}

.services__img-1 {
	background: url(../img/services-1.png) no-repeat bottom center;
}

.services__img-2 {
	background: url(../img/services-2.png) no-repeat bottom center;
}

.services__img-3 {
	background: url(../img/services-3.png) no-repeat bottom center;
}

.services__img-4 {
	background: url(../img/services-4.png) no-repeat bottom center;
}

.services__headline {
	margin-top: 50px;
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	text-align: center;
}

.services__text {
	margin-top: 27px;
	color: #ffffff;
	font-size: 1.067rem;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.32px;
	text-align: center;
}

#team {
	background-color: #e7f1f8;
	padding: 119px 0px 128px 0px;
}


.team__card {
	margin: auto;
	margin-top: 78px;
	width: 85%;
}

.team__photo {
	margin: auto;
	width: 200px;
	height: 200px;
}

.team__headline {
	margin-top: 35px;
	width: 100%;
	color: #27283d;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	text-align: center;
}

.team__profession {
	color: #30bae7;
	font-family: "Titillium Web";
	font-size: 1.067rem;
	font-weight: 400;
	letter-spacing: 0.32px;
	text-align: center;
}

.team__text {
	margin-top: 30px;
	color: #3c4761;
	font-size: 1.067rem;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.32px;
	text-align: center;
}

.team__social {
	width: 161px;
	margin: auto;
	margin-top: 31px;
}

.team__round-icon {
	float: left;
	margin-right: 11px;
	width: 32px;
	height: 32px;
	background-color: #bdd1df;
	border-radius: 50px;
	color: #ffffff;
	line-height: 32px;
	text-align: center;
}

.team__round-icon:last-child {
	margin-right: 0px;
}

#skills {
	padding: 117px 0px 120px 0px;
	color: #3c4761;
}

.skills__card {
	width: 85%;
	margin: auto;
	margin-top: 84px;
}

.skills__diagram {
	margin: auto;
	width: 160px;
	height: 160px;
	font-size: 3.333rem;
	line-height: 160px;
	font-weight: 300;
	letter-spacing: 0.86px;
	text-transform: uppercase;
	text-align: center;
}

.skills__diagram-percent {
	font-size: 2.133rem;
	letter-spacing: 0.55px;
}

.diagram-1 {
	background: url(../img/diagram-1.png) no-repeat center center;
}

.diagram-2 {
	background: url(../img/diagram-2.png) no-repeat center center;
}

.diagram-3 {
	background: url(../img/diagram-3.png) no-repeat center center;
}

.diagram-4 {
	background: url(../img/diagram-4.png) no-repeat center center;
}	

.skills__headline {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	text-align: center;
}

#portfolio {
	padding: 120px 0px 110px 0px;
	background-color: #ffdd99;
}

.portfolio__h2 {
	color: #393939;
}

.portfolio__intro {
	color: #393939;
}

.portfolio__buttons-list {
	margin: auto;
	margin-top: 42px;
	width: 385px;
}

.portfolio__item {
	float: left;
	margin-right: 10px;
	padding: 12px 23px;
	border-radius: 5px;
	background-color: #ebcb8d;
}

.portfolio__menu-link {
	color: #393939;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}

.portfolio__item:hover {
	background-color: #ffffff;
}

.portfolio__card {
	margin-top: 62px;
}

.portfolio__headline {
	margin-top: 24px;
	color: #393939;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.36px;
	text-transform: uppercase;
	text-align: center;
}

.portfolio__button {
	margin-top: 83px;
	background-color: #17c2a4;
	box-shadow: 0px -3px #14a58b inset;
}

.portfolio__button:active {
	box-shadow: 0px 0px #14a58b;
	background-color: #14a58b;
}

#reviews {
	padding: 119px 0px 129px 0px;
	background-color: #d74680;
}

.reviews__h2, .reviews__intro {
	color: #ffffff;
}

.reviews__intro {
	margin-bottom: -70px;
}

.reviews__card {
	margin: auto;
	margin-top: 147px;
	width: 93%;
}

.reviews__img {
	float: left;
	width: 96px;
	height: 96px;
	margin-right: 48px;
	margin-bottom: 70px;
}

.reviews__quote {
	margin-top: 11px;
	margin-bottom: 25px;
	color: #ffffff;
	font-size: 1.4rem;
	font-style: italic;
	line-height: 31.2px;
	letter-spacing: 0.35px;
	text-align: left;
}

.reviews__author {
	margin-bottom: 5px;
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	text-align: left;
}

.reviews__profession {
	color: #ffdd99;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.36px;
	text-align: left;
}

#contact {
	padding: 120px 0px 115px 0px;
	background-color: #3c5499;
}

.contact__intro, .contact__h2 {
	color: #ffffff;
}

.contact__intro {
	margin-bottom: 75px;
}

.contact__input	{
	padding: 20px 12px;
	width: 100%;
	color: #ffffff;
	font-weight: 400;
	font-size: 1.2rem;
	background-color: #273a71;
	border: none;
	border-radius: 5px;
}

.contact__textarea {
	padding: 20px 12px;
	margin-top: 27px;
	width: 100%;
	height: 200px;
	color: #ffffff;
	font-weight: 400;
	font-size: 1.2rem;
	background-color: #273a71;
	border: none;
	border-radius: 5px;
}

.contact__button {
	width: 89%;
	margin: auto;
	margin-top: 60px;
	border: none;
	background-color: #30bae7;
	box-shadow: 0px -3px #299ec4 inset;
}

.contact__button:active {
	box-shadow: 0px 0px #299ec4;
	background-color: #299ec4;
}

#footer {
	padding: 45px 0px;
	background-color: #344b8e;
}

.footer__item {
	float: left;
	margin-right: 50px;
}

.footer__item:last-child {
	margin-right: 0px;
}

.footer__link {
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 29.91px;
	letter-spacing: 0.48px;
}

.footer__link:hover, .footer__link:active {
	color: #30bae7;
}